Makefile
*/Makefile
autom4te.cache/
config.h
configure
m4/
src/.deps/
src/dfu-suffix
src/dfu-prefix
src/dfu-util
src/dfu-version.h
stamp-h1
Win32/
msvc/ipch/
*.log
*.status
*.m4
*.o
*.in
*.suo
*.user
*.opensdf
*.sdf
*~
